.title-64 {
  color: var(--1, #62215b);
  font-size: rem(64px);
  font-style: normal;
  font-weight: 620;
  line-height: 110%; /* 39.6px */
  letter-spacing: -1.08px;
  text-transform: uppercase;
}

.title-36 {
  color: var(--1, #62215b);
  font-size: rem(36px);
  font-style: normal;
  font-weight: 620;
  line-height: 110%; /* 39.6px */
  letter-spacing: -1.08px;
  text-transform: uppercase;
}

.text-18 {
  color: var(--1, #62215b);
  font-size: rem(18px);
  font-style: normal;
  font-weight: 420;
}

.text-22 {
  color: var(--1, #62215b);
  font-size: rem(22px);
  font-style: normal;
  font-weight: 420;
}
