@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

@function rem($size) {
  @return math.div($size, $fs) * 1rem;
}

//---Настраиваемые значения---//
$fs: 16px;
$font: TT Rounds Neue;

//Custom placeholder
$custom-placeholder-top: rem(12px);
$custom-placeholder-left: rem(24px);
$custom-placeholder-scale: 0.6;
//Custom placeholder

//transition
$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: 0.5s;
$transition: $transition-duration $transition-timing-function;
//transition

//Количество колонок
$col-count-m: 4;
$col-count-t: 4;
$col-count-d: 16;
//Количество колонок

//Боковые отступы по краям
$col-pad-m: rem(12px);
$col-pad-t: rem(12px);
$col-pad-d: rem(24px);
//Боковые отступы по краям

//Промежутки между колонками
$col-gap-m: rem(12px);
$col-gap-t: rem(12px);
$col-gap-d: rem(24px);
//Промежутки между колонками

//---Настраиваемые значения---//

//---все что ниже не трогать!!!---//

@function getVw($px, $width) {
  @return $px / $width * 1vw;
}

html {
  @media (min-width: 320px) {
    font-size: getVw($fs, 340px / 100);
  }

  @each $breakpoint in (375px, 576px, 768px, 1024px) {
    @media (min-width: #{$breakpoint}) {
      font-size: getVw($fs, $breakpoint / 100);
    }
  }

  @media (min-width: 1201px) {
    font-size: getVw($fs, 1920px / 100);
  }

  @media (min-width: 1920px) {
    font-size: getVw($fs, 1920px / 100);
  }

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

$breakpoints: (
  xxl: 1920px,
  ll: 1440px,
  d: 1201px,
  t: 1024px,
  lg: 992px,
  m: 768px,
  s: 576px,
  xs: 375px,
);

@function breakpoint($variant: d) {
  @return map.get($breakpoints, $variant);
}

@function media($direction: '>', $variant: d) {
  @if $direction == '>' {
    @return '(min-width: #{breakpoint($variant)})';
  } @else if $direction == '<' {
    @return '(max-width: #{breakpoint($variant) - 1px})';
  } @else if $direction == '<=' {
    @return '(max-width: #{breakpoint($variant)})';
  } @else if $direction == 'mt' {
    @return '(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(t) - 1px})';
  } @else if $direction == 'td' {
    @return '(min-width: #{breakpoint(t)}) and (max-width: #{breakpoint(d) - 1px})';
  } @else if $direction == 'md' {
    @return '(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(d) - 1px})';
  }
}

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-t: '((100vw - (#{$col-pad-t} * 2) - (#{$col-gap-m} * #{$col-count-t - 1})) / #{$col-count-t})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-t: '(#{$col-width-t} + #{$col-gap-t})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

//z-index
//Для наползающих элементов в общем потоке
$index-1: 1;
$index-2: 2;
$index-4: 3;
$index-5: 4;
$index-5: 5;
//Для наползающих элементов вне потока
$index-6: 6;
$index-7: 7;
$index-8: 8;
//Для оверлея
$index-10: 10;
//Для сайдбаров
$index-10: 11;
//Для элементов, перекрывающих все
$index-20: 20;

//custom placeholder
@mixin custom-placeholder {
  &:focus-within {
    span {
      top: $custom-placeholder-top;
      transform: $custom-placeholder-left;
      transform: scale($custom-placeholder-scale);
    }
  }
  input:not(:placeholder-shown) ~ .custom-placeholder__service,
  textarea:not(:placeholder-shown) + .custom-placeholder__service {
    span {
      top: $custom-placeholder-top;
      left: $custom-placeholder-left;
      transform: scale($custom-placeholder-scale);
    }

    svg {
      opacity: 1;
      pointer-events: all;
    }
  }
}
//custom placeholder
