.button {
  position: relative;
  display: flex;
  padding: 0 rem(24px);
  height: rem(60px);
  border-radius: rem(8px);
  background: var(--1, #62215b);
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  color: #fff;
  font-family: TT Rounds Neue;
  font-size: rem(16px);
  font-weight: 620;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: $transition;
  white-space: nowrap;

  &:hover {
    background: var(--2, #c19f86);
  }
  &:disabled {
    background: #f0e7ef;
    pointer-events: none;
    color: var(--1, #62215b);
    opacity: 0.3;
  }
}
