.checkbox {
  .container {
    padding: 0;
    display: flex;
    position: relative;
    cursor: pointer;
    gap: rem(12px);
    align-items: center;
    justify-content: start;
    height: rem(24px);

    color: var(--1, #62215b);
    font-family: TT Rounds Neue;
    font-size: rem(20px);
    font-weight: 420;
    line-height: 110%; /* 19.8px */
    transition: $transition;

    @media #{media('>',d)} {
      &:hover {
        .checkmark {
          border: rem(2px) solid var(--unnamed, #62215b);
        }
      }
    }
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(24px);
    height: rem(24px);
    border-radius: rem(4px);
    border: rem(2px) solid var(--unnamed, #f0e7ef);
    background: var(--, #fff);
    flex-shrink: 0;
    transition: $transition;

    svg {
      flex-shrink: 0;
      opacity: 0;
      transition: $transition;
      height: rem(16px);
      width: rem(16px);
      path {
        stroke: white;
      }
    }
  }

  .container input:checked ~ .checkmark {
    border: rem(2px) solid var(--unnamed, #62215b);
    background-color: #62215b;
    svg {
      opacity: 1;
    }
  }
}
