.my-transition-screen {
  position: fixed;
  inset: 0;
  z-index: 999;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  pointer-events: none;

  &__item {
    width: 100%;
    height: 100%;

    background-color: transparent;
    transition: $transition;
  }

  &.active {
    pointer-events: all;

    .my-transition-screen__item {
      background-color: black;
    }
  }

  &__start-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 40px;
  }

  &__content {
    font-size: 24px;
    line-height: 1.5;
  }
}
