@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 620;
  font-display: swap;
  src: url('../fonts/ttroundsneue-demibold.woff') format('woff');
}
@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 420;
  font-display: swap;
  src: url('../fonts/ttroundsneue-regular.woff') format('woff');
}
